<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Item - Start Bootstrap Template</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


</head>

<body>

  <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Reservas Master</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li nav-item active>
            <a class="nav-link disabled text-white">¡Bienvenido, {{request.user}}!</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
            <li class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú...
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/reservations">Lista Reservas</a>
                    <a class="dropdown-item" href="/propiedad">Agregar Propiedad</a>
                    {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="/ciudad">Agregar Ciudad</a>
                    {% endif %}
                  </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>

  <!-- Page Content -->
  <div class="container">

    <div class="row" >

      <div class="col-lg-9">
        <div class="card mt-4" style="width: 100%;float: left;margin: 2px;">
            {% if owner_ship.image %}
                <img class="card-img-top img-fluid" src="{{ owner_ship.image.url }}" alt="">
            {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ owner_ship.name }}</h3>
            <h4>${{ owner_ship.price }}</h4>
            <p class="card-text">{{ owner_ship.description }}</p>
            <p class="card-text">Capacidad: {{ owner_ship.capacity }}</p>
            <p class="card-text">Propietario: {{ owner_ship.owner.first_name}}  {{ owner_ship.owner.last_name }}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>




          </div>
     <div class="col-lg-3" style="float: right;">
        <div class="list-group border" style="text-align: center;border: black;margin: 10px; margin-top: 25px; border-radius: 2px;">
            <h3 class="card-title">{{ owner_ship.name }}</h3>
        {% if dates %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <ul>
                        {% for date in dates %}
                            <label><input type="checkbox" name="dates" value="{{date}}">{{ date.date }}</label>
                        {% endfor %}
                    </ul>
                    <label for="cap">Huespedes</label><select class="form-control" name="" id="cap">

                        {% for value in capacity %}
                        <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}

                    </select><br>
                <div style="text-align: left">
                    <span style="text-align: left;">Precio por x noches:</span><br>
                <span style="text-align: left;">Comision de servicio:</span><br>
                <span style="text-align: left;">Precio final:</span>
                </div>


                </div>
                <button type="submit" class="btn btn-danger">Reservar!</button>
            </form>
        {% endif %}

        </div>
      </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
