
{% extends "./basictemplate.html" %}
{% block title %}Reservacion detalle{% endblock %}
{% block content %}
<div class="container mb-4">
    <div class="bg-white">
        <p class="h2 text-center pt-4">Detalles de reserva</p>
        <!--//if reserva == true-->
        <ul class="list-group p-3">
            <li class="list-group-item">
                <p><strong>Usuario: </strong></p>
            </li>
            <li class="list-group-item">
                <p><strong>Propiedad: </strong></p>
            </li>
            <li class="list-group-item">
                <p><strong>Código de reserva: </strong></p>
            </li>
            <li class="list-group-item">
                <p><strong>Monto: </strong></p>
            </li>
            <li class="list-group-item">
                <p><strong>Fechas: </strong></p>
                <ul class="list-group">
                    <!-- //for each dates -->
                    <li class="list-group-item">
                        <p><strong>Día: </strong></p>
                    </li>
                    <!-- //end for each dates -->
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
