{% extends "./basictemplate.html" %}
{% block title %}Reservaciones{% endblock %}
{% block content %}

<div class="container" style="align-items: center;">
    <div class="login-form">
        <div class="main-div" style="text-align: center; background: #ffffff ;border-radius: 2px;margin: 10px auto 30px;max-width: 75%;padding: 50px 70px 70px 71px;">
            <div class="panel" style="height: 8%;justify-items: center;background-image: url(https://image.shutterstock.com/image-illustration/black-triangular-abstract-background-grunge-260nw-736870894.jpg);">
                <h1 style="font-family: 'Quicksand', sans-serif; color: white;">Reservas</h1>
            </div><br>

            <table class="table" style="border-radius: 2px;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Propiedad</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Detalle</th>
                </tr>
              </thead>

              <tbody>
                  {% for reservation in reservations %}
                    <tr>
                    <th scope="row">1</th>
                    <td>{{ reservation.renter.username }}</td>
                    <td>{{ reservation.owner_ship.name }}</td>
                    <td>${{ reservation.total }}</td>
                    <td><a class="btn btn-danger" style="background: crimson;color: white;font-family: 'Quicksand', sans-serif;" href="/reservation_detail/{{ reservation.id }}">Ver Ficha</a></td>
                    </tr>
                  {% endfor %}
              </tbody>
              </table>

              <br>
        </div>
    </div>
 </div>
{% endblock %}
