{% extends "./basictemplate.html" %}
{% block title %}Reservas Master{% endblock %}
{% block content %}
  <!-- Page Content -->
  <div class="container mt-5">

    <div class="row">

      <div class="col-lg-3">
      <p class="h4 my-4">Filtra por fechas:</p>
          <div class="list-group text-center">
              <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Fecha de inicio:</label>
                    <input type="date" class="form-control" name="fStart" id="fStart" required>
                </div>
                <div class="form-group">
                    <label>Fecha final:</label>
                    <input type="date" class="form-control" name="fEnd" id="fEnd" required>
                </div>
                  <button type="submit" class="btn btn-success">Buscar</button>
              </form>
          </div>

      <p class="h4 my-4">Ordena las propiedades:</p>
          <div class="list-group text-center">
              <a href="{{request.path}}?orderby=higher_price" class="list-group-item">Mayor Precio:</a>
              <a href="{{request.path}}?orderby=lower_price" class="list-group-item">Menor Precio:</a>
              <a href="{{request.path}}?orderby=higher_capacity" class="list-group-item">Mayor Capacidad:</a>
              <a href="{{request.path}}?orderby=lower_capacity" class="list-group-item">Menor Capacidad:</a>
          </div>

        <p class="h4 my-4">Filtra por ciudad:</p>
        <div class="list-group text-center">
          <a href="/" class="list-group-item h5 text-primary"><strong>Mostrar todo</strong></a>
            {% for ppt in propiedades_por_ciudad %}
              {% for ciudad in ciudades_list %}
                {% if ppt.city == ciudad.id %}
                    <a href="/city/{{ciudad.id}}" class="list-group-item">{{ ciudad.name }} ({{ ppt.city_count }})</a>
                {% endif %}
              {% endfor %}
            {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://i.ibb.co/bK5KQWt/home.png" alt="Home Image">
            </div>
          </div>
        </div>

        {% if city %}
          <div class="row">
          {% for propiedad in propiedades_list %}
            {% if propiedad.city == city %}
              <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                {% if propiedad.image %}
                    <img class="card-img-top" src="{{ propiedad.image.url }}">>
                {% endif %}
              <div class="card-body">
                <h4 class="card-title">
                  <p class="text-decoration-none">{{ propiedad.name }}</p>
                </h4>
                <h5>${{ propiedad.price }}</h5>
                <p class="card-text">{{propiedad.description}}</p>
                  <div class="text-center">
                      <a class="btn btn-success" href="/detail/{{ propiedad.id }}">Ver ficha</a>
                  </div>
              </div>
              <div class="card-footer">
                    <p class="card-text text-center"><strong>{{propiedad.city}}, {{propiedad.city.province}}</strong></p>
              </div>
            </div>
          </div>
            {% endif %}
          {% empty %}
            <h5>No articles yet.</h5>
          {% endfor %}
        </div>
        <!-- /.row -->
        {% else %}
          <div class="row">
          {% for propiedad in propiedades_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                {% if propiedad.image %}
                    <img class="card-img-top" src="{{propiedad.image.url}}">
                {% else %}
                    <img class="card-img-top" src="http://placehold.it/900x350" alt="Imagen_no_disponible">
                {% endif %}
              <div class="card-body">
                <h4 class="card-title">
                  <p class="text-decoration-none">{{ propiedad.name }}</p>
                </h4>
                <h5>${{ propiedad.price }}</h5>
                <p class="card-text">{{propiedad.description}}</p>
                  <div class="text-center">
                      <a class="btn btn-success" href="/detail/{{ propiedad.id }}">Ver ficha</a>
                  </div>
              </div>
              <div class="card-footer">
                    <p class="card-text text-center"><strong>{{propiedad.city}}, {{propiedad.city.province}}</strong></p>
              </div>
            </div>
          </div>
          {% empty %}
            <h5>No articles yet.</h5>
          {% endfor %}
        </div>
        <!-- /.row -->
        {% endif %}

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}